<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Display Tunggal</title>

    <!-- css -->
    <link rel="stylesheet" href="/tsseni/assets/css/style.css" />
    <!-- favicon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="/tsseni/assets/bootstrap5/css/bootstrap.css" />
    <!-- fontawesome -->
    <link rel="stylesheet" href="/tsseni/assets/fontawesome/css/all.css" />
</head>

<body>
    <input type="hidden" name="pertandingan_id" value="{{ pertandingan.id }}" />
    <input type="hidden" name="tournament_id" value="{{ tournament.id }}" />
    <input type="hidden" name="csrf" value="{{ csrfToken }}" />
    <!-- container -->
    <div class="container-fluid bg-warning" id="content">

        <!-- kop -->
        <div class="d-flex justify-content-around align-items-center text-bg-danger">
            <!-- logo -->
            <div>
                <img src="/tsseni/assets/img/rewako.png" alt="" srcset="" width="100px" />
            </div>
            <!-- /logo -->

            <!-- tulisan kop -->
            <div class="d-flex flex-column align-items-center fw-bold" id="kop">
                <h2 class="p-0 m-0">OPEN TURNAMEN NASIONAL PENCAK SILAT TAPAK SUCI</h2>
                <h4 class="p-0 m-0">Usia Dini, Pra Remaja, Remaja, Dewasa dan Master</h4>
            </div>
            <!-- /tulisan kop -->

            <!-- logo -->
            <div>
                <img src="/tsseni/assets/img/sikap-pasang.png" alt="" srcset="" width="80px" />
            </div>
            <!-- /logo -->
        </div>
        <!-- /kop -->

        <!-- jenis pertandingan -->
        <div class="row my-3">
            <!-- golongan dan kategori -->
          
            <!-- nama pertandingan -->
            <div class="col-3">
                <h3 class="text-center p-0 m-0 text-bg-secondary py-1 js-tunggal-display-kategori">Tunggal Bersenjata</h3>
            </div>
            <!-- pesilat kontingen -->
            <div class="col-6">
                <h3 class="text-center p-0 m-0 text-bg-secondary py-1 js-tunggal-display-nama">Yayan / Gowa A</h3>
            </div>
            <!-- no undian -->
            <div class="col-3">
                <h3 class="text-center p-0 m-0 text-bg-secondary py-1 js-tunggal-display-nomor">No. 123</h3>
            </div>
        </div>
        <!-- /jenis pertandingan -->

        <!-- penilaian -->
        <div class="row pt-1 pb-1">
            <!-- unsur nilai -->
            <div class="col-8">
                <div class="bg-white">
                    <table class="table m-0 tbl-nilai">
                        <thead class="text-bg-primary">
                            <tr>
                                <th>No.</th>
                                <th>Unsur Nilai</th=>
                                <th class="text-center">Juri 1</th>
                                <th class="text-center">Juri 2</th>
                                <th class="text-center">Juri 3</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Wiraga</td>
                                <td class="text-center js-tunggal-display-nilai" data-juri="1" data-nilai="wiraga">1</td>
                                <td class="text-center js-tunggal-display-nilai" data-juri="2" data-nilai="wiraga">2</td>
                                <td class="text-center js-tunggal-display-nilai" data-juri="3" data-nilai="wiraga">3</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Wirasa</td>
                                <td class="text-center js-tunggal-display-nilai" data-juri="1" data-nilai="wirasa">1</td>
                                <td class="text-center js-tunggal-display-nilai" data-juri="2" data-nilai="wirasa">2</td>
                                <td class="text-center js-tunggal-display-nilai" data-juri="3" data-nilai="wirasa">3</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Wirama</td>
                                <td class="text-center js-tunggal-display-nilai" data-juri="1" data-nilai="wirama">1</td>
                                <td class="text-center js-tunggal-display-nilai" data-juri="2" data-nilai="wirama">2</td>
                                <td class="text-center js-tunggal-display-nilai" data-juri="3" data-nilai="wirama">3</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Hukuman</td>
                                <td class="text-center js-tunggal-display-nilai" data-juri="1" data-nilai="hukuman">1</td>
                                <td class="text-center js-tunggal-display-nilai" data-juri="2" data-nilai="hukuman">2</td>
                                <td class="text-center js-tunggal-display-nilai" data-juri="3" data-nilai="hukuman">3</td>
                            </tr>
                            <tr class="text-center fw-bold">
                                <td colspan="2">Jumlah</td>
                                <td class=" js-tunggal-display-nilai" data-juri="1" data-nilai="total">1</td>
                                <td class=" js-tunggal-display-nilai" data-juri="2" data-nilai="total">2</td>
                                <td class=" js-tunggal-display-nilai" data-juri="3" data-nilai="total">3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {{--  <button id="fullscreen-btn"><i class="fas fa-expand"></i> full</button>  --}}
                {{--  <button id="fullscreen-btn"><i class="fas fa-compress"></i> full</button>  --}}
            </div>
            <!-- /unsur nilai -->

            <div class="col-4">
                <!-- hasil akhir -->
                <div class="text-bg-success p-2 mb-3 js-tunggal-display-pengumuman-pemenang">
                    <h3>Pengumuman Pemenang:</h3>
                    <table class="table table-sm table-borderless m-0 fw-bold text-bg-success" id="tbl-hasil">
                        <tr>
                            <td>No. Undian</td>
                            <td>:</td>
                            <td><span class="text-bg-light d-block px-2 js-tunggal-display-pengumuman-pemenang__nomor">150</span></td>
                        </tr>
                        <tr>
                            <td>Nama Pesilat</td>
                            <td>:</td>
                            <td>
                                <span class="text-bg-light d-block px-2 js-tunggal-display-pengumuman-pemenang__nama">Yayan Ruhyan</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Nama Kontingen</td>
                            <td>:</td>
                            <td>
                                <span class="text-bg-light d-block px-2 js-tunggal-display-pengumuman-pemenang__kontingen">Banda Aceh</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Total Nilai</td>
                            <td>:</td>
                            <td><span class="text-bg-light d-block px-2 js-tunggal-display-pengumuman-pemenang__nilai">600</span></td>
                        </tr>
                    </table>
                </div>
                <!-- /hasil akhir -->

                <!-- timer -->
                <div class=" mb-3">
                    <h3 class="m-0 p-2 text-bg-dark">TIMER:</h3>
                    <span class="text-center text-bg-light js-timer-clock" id="timer">00:00</span>
                </div>
                <!-- /timer -->
            </div>

        </div>
        <!-- /penilaian -->

        <!-- footer -->
        <div class="bg-danger" style="height:34px;"></div>
        <!-- /footer -->

    </div>
    <!-- /container -->

    <script src="/tsseni/assets/bootstrap5/js/bootstrap.bundle.min.js"></script>
    
    <script src="/pertandingan/lib/jquery.min.js"></script>

<script src="/pertandingan/socket.io.min.js"></script>
<script src="/pertandingan/lib/html2canvas.min.js"></script>
<script src="/pertandingan/lib/underscore-min.js"></script>
<script src="/pertandingan/lib/daysjs/dayjs.min.js"></script>
<script src="/pertandingan/lib/daysjs/id.js"></script>
<script src="/pertandingan/common/utils.js"></script>
<script src="/pertandingan/common/socketEvent.js"></script>
<script src="/pertandingan/common/model.js"></script>
<script src="/pertandingan/common/globals.js"></script>
<script src="/pertandingan/helpers.js"></script>
<script src="/pertandingan/assets/js/jquery.serialize-object.min.js"></script>

    <script src="/pertandingan/lib/easytimer.min.js"></script>
    <script src="/pertandingan/assets/js/modul/tunggal-display.js"></script>  
</body>

</html>