<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tanding Display</title>
    <link rel="stylesheet" href="/tstanding/index.css" />
  </head>
  <body>
    <input type="hidden" name="pertandingan_id" value="{{ pertandingan.id }}" />
<input type="hidden" name="tournament_id" value="{{ tournament.id }}" />
<input type="hidden" name="csrf" value="{{ csrfToken }}" />
    <div class="main-container">
      <div class="bg"></div>
      <div class="flex-column-d">
        <div class="nama-kuning">
          <span class="nama-pesilat-sudut-kuning js-tanding-display-merah-nama">nama pesilat sudut kuning</span>
        </div>
        <div class="logo"><span class="number-one indikator-ronde">1</span></div>
        <div class="yellow-container">
          <button class="yellow-corner-button js-tanding-display-merah-kontingen">Kontingen sudut kuning</button>
        </div>
        <div class="yellow-score">
          <button class="score-button js-total-nilai" data-sudut="merah">Score</button>
        </div>
        <div class="eagle"></div>
        <div class="nomor-partai">
          <div class="nomor-partai-1"></div>
          <span class="no-partai-kelas">{{pertandingan.nomor_partai}} - {{pertandingan.kelas.nama}}</span>
        </div>
        <div class="timer"></div>
        <span class="timer-2 js-timer-clock">00:00</span>
        <div class="defeat-kuning-bendera js-indikator-kemenangan" data-sudut="merah"  data-indikator="kalah"></div>
        <div class="winner-bendera js-indikator-kemenangan" data-sudut="merah"  data-indikator="menang"></div>
        <div class="defead-kuning js-indikator-kemenangan" data-sudut="merah"  data-indikator="kalah"></div>
      </div>
      <div class="flex-column-ae">
        <div class="nama-biru">
          <button class="nama-pesilat-sudut-biru js-tanding-display-biru-nama">
            nama pesilat sudut biru
          </button>
        </div>
        <div class="kontingen-biruu">
          <button class="kontongen-sudut-biru js-tanding-display-biru-kontingen">Kontingen sudut biru</button>
        </div>
        <div class="skor-biru"></div>
        <span class="score js-total-nilai" data-sudut="biru">Score</span>
        <div class="winner-biru js-indikator-kemenangan" data-sudut="biru" data-indikator="menang"></div>
        <div class="defeat-biru-bendera js-indikator-kemenangan" data-sudut="biru" data-indikator="kalah"></div>
        <div class="defead-biru-bendera js-indikator-kemenangan" data-sudut="biru" data-indikator="kalah"></div>
      </div>
    </div>
    <script src="/pertandingan/lib/jquery.min.js"></script>
<script src="/pertandingan/lib/bootstrap.min.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap4.min.js"></script>
<script src="/lib/select2.min.js"></script>
<script src="/pertandingan/socket.io.min.js"></script>
<script src="/pertandingan/lib/html2canvas.min.js"></script>
<script src="/pertandingan/lib/underscore-min.js"></script>
<script src="/pertandingan/lib/daysjs/dayjs.min.js"></script>
<script src="/pertandingan/lib/daysjs/id.js"></script>
<script src="/pertandingan/common/utils.js"></script>
<script src="/pertandingan/common/socketEvent.js"></script>
<script src="/pertandingan/common/model.js"></script>
<script src="/pertandingan/common/globals.js"></script>
<script src="/pertandingan/helpers.js"></script>
<script src="/pertandingan/assets/js/jquery.serialize-object.min.js"></script>
<script src="/lib/vex.combined.min.js"></script>
<script>vex.defaultOptions.className = 'vex-theme-plain'</script>
<script src="/pertandingan/lib/confirm/jquery-confirm.min.js"></script>
    <script src="/pertandingan/lib/easytimer.min.js"></script>
<script src="/pertandingan/assets/js/modul/tanding-display.js"></script>  
  </body>
</html>
