<!DOCTYPE html>
<html>
<head>
    @section('head')
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Digisilat - {{ title  }}</title>
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <!-- CSS -->
        <link href="/pertandingan/lib/bootstrap.min.css" rel="stylesheet">
        <link href="/pertandingan/assets/css/application.css" rel="stylesheet">
        <link href="/pertandingan/assets/css/helper.css" rel="stylesheet">
        <link href="/pertandingan/sticky-footer-navbar.css" rel="stylesheet">
        <link href="/pertandingan/dist/css/custom.css" rel="stylesheet">
        <link rel="stylesheet" href="/lib/vex.css" />
        <link rel="stylesheet" href="/lib/vex-theme-plain.css" />
        <link rel="stylesheet" href="/pertandingan/lib/confirm/jquery-confirm.min.css" />
        <style>
            .table-noborder>thead>tr>th
.table-noborder>thead>tr>td
.table-noborder>tbody>tr>th
.table-noborder>tbody>tr>td
.table-noborder>tfoot>tr>th
.table-noborder>tfoot>tr>td {
    border: none;
}

        </style>
        @section('module_css')
        @endsection
    @endsection
</head>
<body>
<input type="hidden" name="pertandingan_id" value="{{ pertandingan.id }}" />
<input type="hidden" name="tournament_id" value="{{ tournament.id }}" />
<input type="hidden" name="csrf" value="{{ csrfToken }}" />
@section('content')
  
@endsection
<script type="application/javascript">
    window.sudut = ["Merah", "Biru"]
    window.alasanKemenangan = [
        "Menang Angka",
        "Menang Teknik",
        "Menang Mutlak",
        "Menang W.M.P",
        "Menang Undur Diri",
        "Menang Diskualifikasi"
        
    ]
</script>
<script src="/pertandingan/lib/jquery.min.js"></script>
<script src="/pertandingan/lib/bootstrap.min.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap4.min.js"></script>
<script src="/lib/select2.min.js"></script>
<script src="/pertandingan/socket.io.min.js"></script>
<script src="/pertandingan/lib/html2canvas.min.js"></script>
<script src="/pertandingan/lib/underscore-min.js"></script>
<script src="/pertandingan/lib/daysjs/dayjs.min.js"></script>
<script src="/pertandingan/lib/daysjs/id.js"></script>
<script src="/pertandingan/common/utils.js"></script>
<script src="/pertandingan/common/socketEvent.js"></script>
<script src="/pertandingan/common/model.js"></script>
<script src="/pertandingan/common/globals.js"></script>
<script src="/pertandingan/helpers.js"></script>
<script src="/pertandingan/assets/js/jquery.serialize-object.min.js"></script>
<script src="/lib/vex.combined.min.js"></script>
<script>vex.defaultOptions.className = 'vex-theme-plain'</script>
<script src="/pertandingan/lib/confirm/jquery-confirm.min.js"></script>
{{ script('lib/mustache.min.js') }}
<script src="/js/digisilat-admin.js"></script>
@section('module_js')
@endsection
</body>
</html>